.footer {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #156963;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
        justify-content: space-evenly;
        padding: 0 15px;

        &-title {
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            color: $green;
            font-family: 'Poppins-Medium';
            margin-bottom: 24px;
        }

        &-house {
            font-size: 16px;
            line-height: 19px;
            color: #333333;
            font-family: 'WorkSans-Medium';
            margin-bottom: 10px;
        }

        &-describe {
            font-size: 13px;
            line-height: 20px;
            color: #4F4F4F;
            max-width: 242px;
            width: 100%;
            margin-bottom: 71px;
        }

        &-caption {
            font-size: 16px;
            line-height: 16px;
            color: $black;
            font-family: 'WorkSans-Medium';
            margin-bottom: 20px;
        }

        &-text {
            font-size: 14px;
            line-height: 16px;
            color: $black;
            font-family: 'WorkSans-Regular';
            margin-bottom: 14px;
        }

        &-email {
            font-size: 16px;
            line-height: 16px;
            font-family: 'WorkSans-Medium';
            color: $black;
            margin-bottom: 14px;
        }

        &-form {
            display: flex;
            flex-direction: column;
        }

        &-input {
            color: $black;
            font-size: 12px;
            line-height: 16px;
            font-family: 'WorkSans-Regular';
            border-radius: 2px;
            border: 1px solid #F2F2F2;
            padding: 8px 87px 8px 13px;
            margin-bottom: 14px;
        }

        &-button {
            font-size: 8px;
            line-height: 14px;
            color: $white;
            font-family: 'Raleway-regular';
            background: $green;
            padding: 4px 12px;
            border: none;
            width: 51px;
        }
    }
}