.header {
    &__content {
        display: flex;
        align-items: center;

        &-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 0;
            width: 100%;
            margin-top: 60px;
        }

        &-prenav {
            display: flex;
            align-items: center;
            margin-right: 56px;
        }

        &-text {
            margin-left: 56px
        }

        &-signUp {
            font-size: 14px;
            line-height: 20px;
            color: $green;
            font-family: 'Nunito-Bold';
            margin-left: 30px;
            border: none;
            background: $white;
            cursor: pointer;
        }

        &-signIn {
            font-size: 14px;
            line-height: 20px;
            color: $white;
            font-family: 'Nunito-Bold';
            margin-left: 30px;
            background: #156963;
            padding: 8px 32.5px;
            border: none;
            cursor: pointer;
        }

        &-cart {
            margin-left: 45px;
        }

        &-about {
            margin-left: 77px;
        }

        &-title {
            font-size: 68px;
            line-height: 83px;
            color: $green;
            font-family: 'Montserrat-Medium';
            max-width: 523px;
            width: 100%;
            margin-bottom: 23px;
        }

        &-describe {
            font-size: 18px;
            line-height: 32px;
            color: $semiblack;
            font-family: 'Montserrat-Regular';
            margin-bottom: 110px;
            max-width: 490px;
            width: 100%;
        }

        &-last {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &-button {
            display: flex;
            align-items: center;
            padding-top: 40px;
            margin-bottom: 14px;

        }
        &-kaktus {
            font-size: 24px;    
            line-height: 29px;
            color: $gray;
            font-family: 'Montserrat-Medium';
            margin-left: 13px;

        }

        &-kaktus:nth-child(1) {
            margin-right: 13px;
            margin-left: 0px;
            color: #F2F2F2;
        }

        &-rahasia {
            font-size: 32px;
            line-height: 39px;
            color: $green;
            font-family: 'Montserrat-Medium';
        }
        &-buttons:nth-child(2){
            background: $green;
            padding: 0px 49px ;
        }
        &-buttons{
            cursor: pointer;
        }
        &-plant{
            font-size: 32px;
            line-height: 39px;
            color: $white;
            font-family: 'Montserrat-Medium';
            padding-bottom: 38px;
        }
    }
}