.main {
    &__content {
        display: flex;
        justify-content: space-around;
        margin-top: 140px;

        &-item {
            max-width: 268px;
            width: 100%;
            border: 1px solid #E0E0E0;
            padding: 21px 16px;
        }

        &-picture {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        &-title {
            margin-left: 16px;
            font-size: 16px;
            line-height: 24px;
            color: $green;
            font-family: 'Montserrat-Bold';
        }

        &-describe {
            font-size: 14px;
            line-height: 16px;
            color: $semiblack;
            font-family: 'Montserrat-Regular';
        }
    }

    // About
    &__about {
        margin-top: 250px;
        display: flex;
        justify-content: space-between;

        &-plant {
            margin-left: 79px;
        }

        &-picture {
            margin-right: 57px;
        }

        &-title {
            font-size: 40px;
            line-height: 56px;
            color: $semiblack;
            font-family: 'Montserrat-Bold';
            margin-bottom: 16px;
            max-width: 522px;
            width: 100%;
        }

        &-describe {
            font-size: 16px;
            line-height: 28px;
            color: $semiblack;
            font-family: 'Montserrat-Regular';
            max-width: 507px;
            width: 100%;
            margin-bottom: 23px;
        }

        &-img {
            width: 100%;
        }
    }

    // Shop 
    &__shop {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        &-title {
            font-size: 40px;
            line-height: 56px;
            color: $semiblack;
            font-family: 'Montserrat-Bold';
            margin-bottom: 32px;
            max-width: 585px;
            width: 100%;
        }

        &-btn {
            font-size: 14px;
            line-height: 20px;
            color: #FAFEFE;
            font-family: 'Nunito-Bold';
            padding: 10px 42px ;
            background: $green;
            border: 1px solid #156963;
        }

        &-rectangle {
            width: 480px;
            background: #F3F4F6;
            height: 360px;

        }
    }
}