$white:#fff;
$black:#000;
$semiblack:#2C1500;
$green:#156963;
$gray:#333333;
$fonts:('Montserrat-Bold', 700),
('Montserrat-Medium', 500),
('Montserrat-Regular',400),
('Montserrat-SemiBold' 600),
('Nunito-Bold', 700),
('Nunito-Black', 900),
('Poppins-Medium', 500),
('Raleway-Medium', 500), 
('WorkSans-Medium', 500),
('WorkSans-Regular', 400);
 @each $name, $weight in $fonts {
     @font-face {
         font-family: $name;
         src: url('../fonts/#{$name}.ttf');
         font-weight: $weight;
     }
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
