footer.footer 
    .footer__content
        .footer__content-item
            h4.footer__content-title plantku
            h6.footer__content-house Plantku House
            p.footer__content-describe Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282
        .footer__content-item 
            h5.footer__content-caption Perusahaan
            h6.footer__content-text Tentang Kami
            h6.footer__content-text Hubungi Kami
        .footer__content-item 
            h5.footer__content-caption Produk
            h6.footer__content-text Tanaman
            h6.footer__content-text Tanaman Lain
        .footer__content-item
            h5.footer__content-email Berlangganan Email Kami
            form(action="").footer__content-form
                input(type="email" placeholder="Masukan Alamat Email" required = "").footer__content-input 
                button(type="submit").footer__content-button Submit

