main.main 
    .main__content 
        .main__content-item 
            .main__content-picture 
                img(src="./images/car.svg", alt="")
                p.main__content-title Fast Delivery 
            p.main__content-describe Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
        .main__content-item 
            .main__content-picture 
                img(src="./images/music.svg", alt="")
                p.main__content-title Great Customer Service
            p.main__content-describe Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
        .main__content-item 
            .main__content-picture 
                img(src="./images/plant.svg", alt="")
                p.main__content-title Original Plants 
            p.main__content-describe Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
        .main__content-item 
            .main__content-picture 
                img(src="./images/dollar.svg", alt="")
                p.main__content-title Affordable Price 
            p.main__content-describe Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
    .main__about
        .main__about-plant 
            h2.main__about-title Buy more plants, it helps you to be relaxed 
            p.main__about-describe Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida gravida aliquam. Pellentesque et lobortis nisl. Sed et mauris justo. Nulla eu enim non mauris maximus dignissim. Maecenas vitae eros sapien. Quisque pellentesque tempus dignissim.
            img(src="./images/plant-img_2.webp", alt="").main__about-img
        .main__about-picture 
            img(src="./images/plant-img.webp", alt="").main__about-img
    .main__shop
        .main__shop-caption
            h3.main__shop-title Get your favourites plant on our shop now
            a(href="").main__shop-btn Visit Shop
        .main__shop-rectangle  


